phidata 
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
sqlalchemy
pgvector
psycopg[binary]
pypdf
streamlit
phidata
google-generativeai
duckduckgo-search
langchain
langgraph
langchain_community
langchainhub
ipykernal
langchain-huggingface
crewai_tools
crewai